<section class="carousel">
  <div class="scroller">
    <div style="background-color:blue;" class="scroller_slide">1. Register</div>
    <div style="background-color:red;" class="scroller_slide">2. </div>
    <div style="background-color:green;" class="scroller_slide">3</div>
  </div>
</section>
