<% if @metrics.length > 0 %>
  <h2>Week of <%= Date.today.beginning_of_week(:sunday) %></h2>
  <%= column_chart @week_data  %>
  <%= line_chart @all_data %>
<% else %>
   <h2>You have no metrics</h2>
<% end %>
<p><%= link_to "New Metric", new_user_metric_path(current_user) %></p>
