<h2>Open Groups:</h2>
<% if @groups.length == 0 %>
  <h3>There aren't any public groups</h3>
<% else %>
  <% for group in @groups %>
    <h3><%= group.name %></h3>
    <p>Members: <%= group.users.length  %></p>
    <div class="links">
      <%= link_to "Request to join", user_group_requests_path(current_user, group), method: :post %>
    </div>
  <% end %>
<% end %>
<div class="links">
  <%= link_to "Create new group", new_user_group_path(current_user) %>
</div>
