/* below is extra code for the form tables */

form-table {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  min-width: 50vw;
}

input:focus {
  outline-color: #4caf50;
}

.date, input, select, .field {
  width: 50%;
  text-align: center;
  min-width: 150px;
}

/* below is adapted from https://stackoverflow.com/questions/19388011/how-to-change-colour-of-blue-highlight-on-select-box-dropdown */

select {
   background-color: white;   /* add custom arrow */
   text-align-last: center;
}


select,
select:active,
select:hover {
  outline-color: #4caf50;
}

select option,
select option:hover {
  box-shadow: inset 20px 20px #4caf50;
  background-color: #4caf50;
}

.row {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.row label {
  min-width: 150px;
}
