/* below is extra code for the form tables */

form-table {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.field {
  text-align: center;
  width: 50%;
}

.date {
  min-width: 150px;
}

/* below is adapted from https://stackoverflow.com/questions/19388011/how-to-change-colour-of-blue-highlight-on-select-box-dropdown */

select,
select:active,
select:hover {
  outline-color: #4caf50;
}

select option,
select option:hover {
  box-shadow: inset 20px 20px #4caf50;
}
