
a:link {
  color: black !important;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4caf50;
}

/* below is styling for the links at the bottom of most pages */

.links {
  text-align: center;
  min-height: 100px;
}

.links a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #74776b !important;
  font-weight: bold;
}

.links a:hover {
  color: #3e8e41 !important;
}
