/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<link
  href="https://fonts.googleapis.com/css?family=Nunito+Sans"
  rel="stylesheet"
  > td,
th {
  border: 1px solid black;
  text-align: center;
}

.hit {
  background: green;
}

.missed {
  background: red;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

nav {
  background-color: #f3f3f4;
  flex-grow: 5;
  height: 120px;
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  flex-grow: 5;
  margin: 0 15%;
}

.container {
  margin: 0 15% 0 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 5;
}

.logo {
  flex-grow: 1;
}

a:hover {
  color: #4caf50;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 0 2% 0 2%;
}

/*below here is the dropdown from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  /*position: relative;*/
  display: inline-block;
  margin: 0 2% 0 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}
