/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  display: flex; /*enables flex content for its children*/
  // box-sizing: border-box;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif !important;
  justify-content: space-between;
}

nav {
  background-color: #f3f3f4;
  height: 120px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 15%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  justify-content: space-between;
  padding: 0 15% 5% 15%;
  height: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* make scrollbar invisible */
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 5;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 0 2% 0 2%;
}

.logo {
  flex-grow: 1;
}

/* below are the table styles
table styles modified from from https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */

.metric-table {
  width: 90%;
  border: 1px solid #ddd;
  text-align: center;
}

.metric-table td,
.metric-table th {
  padding: 8px;
}

.metric-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.metric-table tr:first-child {
  opacity: 1;
}

.metric-table tr {
  background-color: #ddd;
  opacity: 0.8;
}

.metric-table tr:hover {
  background-color: #ddd;
  opacity: 1;
}

.metric-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  opacity: 1;
}

.metric-table td {
  color: #999;
}

.hit {
  background: #4caf50;
  color: white !important;
}

.missed {
  background: red;
  color: white !important;
}

a:link {
  color: black !important;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4caf50;
}

table {
  text-align: center;
}

.metric-table a {
  color: #4c4e46 !important;
  font-weight: 999;
}

.metric-table a:hover {
  color: #3e8e41 !important;
}

/*below is for the dropdown button
dropdown styles modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/

.button {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #3e8e41;
}

.dropdown {
  /*position: relative;*/
  display: inline-block;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/*below is for the bootstrap carousel
it was modified from https://www.w3schools.com/bootstrap/bootstrap_carousel.asp */

.carousel-inner {
  text-align: center;
  font-size: 30px;
  width: 60vw;
}

.carousel-caption {
  text-align: left;
  top: 0;
  color: black;
}

.item {
  border-top: solid;
  border-bottom: solid;
  border-width: 3px;
  border-color: #f3f3f4;
  height: 250px;
}

/* below is styling for the links at the bottom of most pages */

.links {
  text-align: center;
  min-height: 100px;
}

.links a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #74776b !important;
  font-weight: bold;
}

.links a:hover {
  color: #3e8e41 !important;
}

/* below is extra code for the form tables */

form-table {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.field {
  text-align: center;
  width: 50%;
}

.date {
  min-width: 150px;
}

/* ..and form buttons */
.wide {
  width: 150px;
}

.short {
  height: 30px;
  padding: 0px !important;
}

/* below is adapted from https://stackoverflow.com/questions/19388011/how-to-change-colour-of-blue-highlight-on-select-box-dropdown */

select,
select:active,
select:hover {
  outline-color: #4caf50;
}

select option,
select option:hover {
  box-shadow: inset 20px 20px #4caf50;
}

/* for the flash notice and alerts */
.notice,
.alert {
  padding: 2%;
}

/* for the layout of the demo#index page */

.overview {
  margin: 5% 0 0 0;
  display: flex;
  flex-direction: row;
}

.overview-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.overview-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.overview-cell {
  flex: 1;
  text-align: left;
  max-width: 150px;
  max-height: 150px;
  font-weight: bold;
}

.index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 0 0 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example {
  font-style: italic;
  font-size: 12px;
}

.left {
  margin: 0 3% 0 0;
}

.right {
  margin: 0 0 0 3%;
}
