<p><%= @user.first_name %> invited you to join <%= @group.name %></p>
<p>Go to the Accountability Groups section of the <%= link_to "Goal Tracker Website", "https://goaltracker2000.herokuapp.com" %> to accept or decline the invite</p>
