<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have <%= @number_unentered %> performances to enter!</p>
    <p>Click <%= link_to "here", "http://localhost:3000/performances/all/edit" %> to enter your info</p>
  </body>
</html>
